#gamePlayContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logoGamePlay{
    height: 80%;
    width: 80%;
    transition: transform .2s;
}

.logoGamePlay:hover{
    transform: scale(1.1);
}

